.list-box {
  width: 200px;
  height: 150px;
  border: 2px solid rgb(233, 188, 67);
  border-radius: 10px;
  display: flex;
  /* align-items:center; */
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}
.list-detail {
  margin-bottom: 5px;
}
.list-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
}
.list-contents {
  margin-bottom: 7px;
  font-size: 16px;
  color: rgb(78, 78, 78);
}

.list-box-button {
  justify-content: center;
  display: flex;
}

.list-box-button > button {
  width: 47%;
  height: 27px;
  margin: auto;
  border: 0;
  background-color: rgb(245, 208, 108);
  border-radius: 25px;
  justify-content: center;
  font-size: 15px;
  /* box-shadow: 0px 0px 3px 0px rgb(201, 201, 201); */
}

.list-box-button > button:hover {
  background-color: rgb(253, 226, 152);
  transition: 0.1s;
}
